* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* Header-start */
.header {
  display: flex;
  height: 800px;
  background: rgba(229, 84, 115, 0.1);
}
.benar {
  padding: 197px 97px 365px 240px;
}
.benar-titel {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 32px;
}
.benar-description {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}
.primary-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.benar-img {
  width: 635px;
  height: 800px;
  padding-top: 50px;
}
/* Header-End */

/* Main-Start */
.first-section {
  max-width: 1540px;
  margin: 0px auto;
}
.section-text {
  text-align: center;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 178px;
}
.section-description {
  width: 594px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;

  margin: 24px 660px 0px 460px;
}
.section-images {
  display: flex;
  width: 464px;
  height: 538px;
  gap: 24px;
  margin: 48px 240px 0px 270px;
}
.sec-img-1 {
  width: 310px;
  height: 428px;
  padding: 110px 75px 0px 75px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.sec-img-2 {
  width: 310px;
  height: 428px;
  padding: 117px 46px 50px 46px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.sec-img-3 {
  width: 310px;
  height: 428px;
  padding: 66px 75px 0px 75px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.img-names {
  display: flex;
  gap: 250px;

  margin-left: 381px;
  margin-right: 381px;
  margin-bottom: 128px;
}
.flower-names {
  color: #272727;

  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.support-section {
  margin: 0px auto;
  width: 1440px;
  padding: 50px;
  background-position: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-bottom: 128px;
}
.flower-Support {
  display: flex;
  padding-bottom: 24px;
  justify-content: space-around;
}
.support-p {
  display: flex;
  justify-content: space-around;
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}
.support-img {
  width: 88px;
  height: 88px;
  margin-top: 85 px;
}
.header-benar-2 {
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 128px;
}
.benar-img-2 {
  width: 318px;
  height: 420px;
  margin-top: 100px;
}
.benar-title-2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.Instagram-sec {
  width: 1440px;
  margin: 0px auto;
  background-position: center;
}
.Instagram-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  margin-bottom: 48px;
}
.insta-img {
  display: flex;
  gap: 24px;
  width: 342px;
  height: 396px;
  margin-bottom: 128px;
}
.last-sec {
  width: 1440px;
  height: 449px;
  margin: 0px auto;
  background-position: center;
  background-image: url("./Flower Asset/Rectangle\ 9.png");
}
.last {
  text-align: center;
}
.last-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
}
.last-p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-top: 16px;
}
.last-input {
  padding-top: 48px;
}
.last-in {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding: 22px 0px 22px 22px;
  background: #fff;
}
.last-btn{
  padding: 18px 30px;
border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-left: 16px;
}
/* Main-End */
