* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  border: 0px;
}
/* Header-start */
.header {
  display: flex;
  height: 800px;
  background: rgba(229, 84, 115, 0.1);
}
.benar {
  padding: 197px 97px 365px 240px;
}

.benar-titel {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 32px;
}
.benar-description {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}
.primary-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.benar-img {
  width: 635px;
  height: 800px;
  padding-top: 50px;
}
/* Header-End */

/* Main-Start */
.first-section {
  width: 1440px;
  margin: 0px auto;
  background-position: center;
  text-align: center;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 178px;
}
.section-description {
  padding-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
.section-images {
  display: flex;
  width: 464px;
  height: 538px;
  padding-top: 48px;
  gap: 80px;
}
.sec-img-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 78px 0px 76px;
}
.sec-img-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px 47px;
}
.sec-img-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px 75px;
}
.sec-img-name {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-bottom: 128px;
}
.benar-container {
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 0px 0px 0px 423px;
  display: flex;
  align-items: center;
}
.benar-titel-2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}
.benar-description-2 {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 32px;
}
.primary-btn-2 {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-left: 150px;
}
.benar-img-2 {
  width: 318px;
  height: 420px;
  margin: 100px 429px 100px 186px;
}
.Instagram-sec {
  width: 1440px;
  margin: 0px auto;
  background-position: center;
}
.Instagram-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  margin-bottom: 48px;
}
.insta-img {
  display: flex;
  gap: 24px;
  width: 342px;
  height: 396px;
  margin-bottom: 128px;
}
.extra-sec {
  width: 1440px;
  margin: 0px auto;
  background-position: center;
  text-align: center;
}
.extra {
  background-color: #f890a6;
  margin-bottom: 32px;
  border-radius: 5px;
}
.extra-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
  margin-bottom: 32px;
}
.extra-title span {
  color: #f72351;
  font-size: larger;
}
.extra-img {
  display: flex;
  gap: 24px;
  width: 342px;
  height: 396px;
  margin-bottom: 28px;
}
.ex-img {
  border-radius: 50%;
}
.Flowers-price {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 800;
  color: #272727;
  text-decoration-line: underline;
}
.last-sec {
  width: 1440px;
  height: 449px;
  margin: 0px auto;
  background-position: center;
  background-image: url("./Flower Asset/Rectangle\ 9.png");
}
.last {
  text-align: center;
}
.last-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
}
.last-p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding-top: 16px;
}
.last-input {
  padding-top: 48px;
}
.last-in {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding: 22px 0px 22px 22px;
  background: #fff;
}
.last-btn {
  padding: 18px 30px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
}
.contac-sec {
  width: 1440px;
  margin: 0px auto;
  background-position: center;
  text-align: center;
}
.contac {
  background-color: #f890a6;
  margin-bottom: 32px;
  border-radius: 5px;
}
.contac-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 128px;
  margin-bottom: 32px;
}
.contac-title span {
  color: #f72351;
  font-size: larger;
}
form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: #000000;
}
form input {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding: 22px 0px 22px 22px;
  background: #fff;
  border: 1px solid black;
}
.contac-form {
  display: flex;
}
.contac-img {
  width: 842px;
  height: 420px;
  padding-left: 100px;
}
/* Main-End */

/* Footer-Start */
footer {
  margin-top: 128px;
  text-align: center;
  background: #111010;
}
.foot-title {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
  padding-top: 128px;
}
.foot-title span {
  color: #ffffff;
}
.foot-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
}
.foot-copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding-top: 32px;
  padding-bottom: 128px;
}
.hide{
  display: none;
}
/* Footer-End */
@media screen and (max-width:576px) {
  .header ,.section-images ,.benar-container,.extra-sec,.Instagram-sec,.contac-sec ,.contac-form{
    flex-direction: column;
    height: 100%;
   width: 100%;
    padding: 10px;
  }
  .benar {
    padding:20px;
  }
  .benar-img , .benar-titel,.benar-description,.first-section ,.section-title,.section-description ,.benar-titel-2,.benar-description-2,.extra-title,.extra,form input {
    width: 100%;
  }
  .extra-img ,.insta-img{
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    
  }
  
  .benar-img-2 ,.last-sec,.last-in{
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .last-btn{
    margin-top: 10px;
  }
  .section-images{
    width: 100%;
    height: 100%;
    padding-top: 20px;
  gap: 24px;
  }
  .sec-img-name,.Flowers-price {
    display: none;
  }
  .primary-btn-2 {
    margin: auto;
  }
  .contac-img{
    width: 100%;
    padding: 0;
  }

}
